//About me section

.about-me {
  height: 45rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
  position: relative;

  @media (max-width: $mobile-size) {
    height: 20rem;
  }

  &__text {
    flex-direction: column;
    width: 50rem;
    padding-top: 12rem;
    font-weight: $light;
    position: absolute;
    top: 240px;
    z-index: 2;

    &--highlighted {
      color: $blue-color;
    }

    @media (max-width: $mid-size) {
      width: 38rem;
      top: 0;
    }

    @media (max-width: $tablet-size) {
      top: 200px;
    }

    @media (max-width: $mobile-size) {
      top: 0;
    }
  }

  &__heading {
    width: 50rem;
    font-family: $serif;
    font-size: 3rem;
    font-weight: $light;
    padding-bottom: 1rem;

    @media (max-width: $mid-size) {
      font-size: 2.6rem;
      padding-bottom: 0;
      width: 50rem;
    }

    @media (max-width: $tablet-size) {
      font-size: 2.5rem;
      padding-top: 1.5rem;
    }

    @media (max-width: $mobile-size) {
      font-size: 1.3rem;
      padding-top: 0;
    }
  }

  &__subheading {
    font-family: $serif;
    font-size: 2rem;
    font-weight: $light;

    @media (max-width: $tablet-size) {
      font-size: 1.8rem;
      padding-bottom: 0.5rem;
    }

    @media (max-width: $mobile-size) {
      font-size: 1rem;
    }
  }

  &__paragraph {
    padding-top: 1rem;
    font-family: $sans-serif;
    font-weight: $light;
    font-size: 1rem;

    @media (max-width: $tablet-size) {
      width: 25rem;
      padding-top: 0.5rem;
    }

    @media (max-width: $mobile-size) {
      font-size: 0.5rem;
      width: 16rem;
      padding-top: 0;
    }
  }

  &__photo {
    position: absolute;
    top: 0;
    left: 68%;
    width: 34rem;
    height: 45rem;
    object-fit: scale-down;
    clip-path: circle(78.4% at 95% 38%);
    z-index: 1;

    &:hover {
      clip-path: none;
      transition: all 10s ease-in-out;
      transition-delay: 20s;
    }

    @media (max-width: $tablet-size) {
      left: 46%;
    }

    @media (max-width: $mobile-size) {
      height: 20rem;
      width: auto;
      left: 58%;
    }
  }
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;

  &__container {
    position: relative;
    margin-top: 4rem;

    @media (max-width: $mobile-size) {
      margin-top: 2.5rem;
    }
  }

  &__text {
    font-family: $sans-serif;
    font-size: 15rem;
    font-weight: $light;
    color: $blue-color;
    opacity: 0.8;
    cursor: default;
    display: inline-block;
    padding-left: 100%;
    animation: marquee 40s linear infinite;

    @media (max-width: $mobile-size) {
      font-size: 6rem;
    }

    &--relative {
      position: static;
      color: transparent;
    }
  }

  &__text2 {
    font-family: $sans-serif;
    font-size: 15rem;
    font-weight: $light;
    color: $blue-color;
    opacity: 0.8;
    cursor: default;
  }

  @media (max-width: $tablet-size) {
    z-index: -1;
  }
}
.marquee2 .marquee__text {
  animation-delay: 20s;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
