* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
  background-color: $white;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;
  max-width: 100vw;
}

a {
    text-decoration: none;
    transition: all 200ms ease-in-out;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }

button:hover {
  cursor: pointer;
}

.container {
  padding: 0 8rem;
}
  