//Footer

.info {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
  
    &__go_up {
      display: flex;
      justify-content: center;
      width: 20rem;
      height: 2rem;
  
      &__icon {
        font-size: 3rem;
        color: $active-grey-btn-color;
  
        &:hover {
          color: $link-hover-color;
        }
  
        cursor: pointer;
      }
    }
  
    &__contact {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: left;
      font-size: 1rem;
      font-family: $sans-serif;
      text-decoration: none;
      font-weight: 300;
      width: 20rem;
  
      &__email {
        color: $link-hover-color;
        padding-right: 2.5rem;
      }
  
      &__phone_number {
        font-size: 1rem;
        font-weight: 300;
      }
    }
  
    &__social_media {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      width: 20rem;
      list-style: none;
  
      &__icon {
        width: 2.5rem;
        height: 2.5rem;
        color: $active-grey-btn-color;
        text-decoration: none;
  
        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }