//Footer

.info {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
  
    &--go-up {
      display: flex;
      justify-content: center;
      width: 20rem;
      height: 2rem;
    }

    &--up-icon {
      font-size: 3rem;
      color: $active-grey-btn-color;
      cursor: pointer;

      &:hover {
        color: $blue-color;
      }
    }
    
  
    &--contact {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: left;
      font-size: 1rem;
      font-family: $sans-serif;
      text-decoration: none;
      font-weight: 300;
      width: 20rem;
    }

    &--email {
      color: $link-hover-color;
      padding-right: 2.5rem;
    }
  
    &--phone-number {
      font-size: 1rem;
      font-weight: 300;
      color: $link-hover-color;
    }
    
  
    &--social-media {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      width: 20rem;
      list-style: none;
    }

    &--social-media-icon {
      width: 2.5rem;
      height: 2.5rem;
      color: $active-grey-btn-color;
      text-decoration: none;
  
      &:hover {
        color: $blue-color;
      }
    }
  }