//Footer

.info {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    &__go-up {
      display: flex;
      justify-content: center;
      width: 20rem;
      height: 2rem;
    }

    &__up-icon {
      font-size: 3rem;
      color: $active-grey-btn-color;
      cursor: pointer;

      &:hover {
        color: $blue-color;
      }
    }
    
  
    &__contact {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: left;
      font-size: 1rem;
      font-family: $sans-serif;
      text-decoration: none;
      font-weight: 300;
      width: 20rem;

      @media (max-width: $tablet-size) {
        font-size: 0.8rem;
      }
    }

    &__email {
      color: $black;
      padding-right: 2.5rem;

      @media (max-width: $tablet-size) {
      padding-right: 1rem;
      }

    }
  
    &__phone-number {
      font-size: 1rem;
      font-weight: 300;
      color: $black;

      @media (max-width: $tablet-size) {
      font-size: 0.8rem;
      }
    }
    
  
    &__social-media {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      width: 20rem;
      list-style: none;
    }

    &__social-media-icon {
      width: 2.5rem;
      height: 2.5rem;
      color: $active-grey-btn-color;
      text-decoration: none;
  
      &:hover {
        color: $blue-color;
      }
    }
  }