//Gallery section

.gallery {
    display: flex;
    align-items: center;
    padding: 8rem 10rem;
    flex-wrap: wrap;
    height: 45rem;
  
    &__btn-container {
      display: flex;
      width: 19rem;
      justify-content: space-between;
      margin: 2rem 0;
    }
    &__btn {
      height: 0.5rem;
      width: 4rem;
      outline: none;
      border-style: none;
      background-color: $grey-btn-color;

      &:hover,
      &:active,
      &:focus {
        background-color: $blue-color;
        outline: none;
        border-style: none;
      } 
    }
  
    
    &__element-container {
      list-style: none;
      padding: none;
      justify-content: space-between;
    }

    &__photo {
      width: 50rem;
      height: 27rem;
      object-fit: cover;
      padding-left: 7rem;
    }
  
    &__text {
      flex-direction: column;
      width: 19rem;


    }

    &__title {
      font-size: 2rem;
      font-family: $serif;
      padding-bottom: 0.5rem;
      font-weight: 300;
    }
  
    &__project-type {
      font-family: $sans-serif;
      font-size: 1.5rem;
      padding-bottom: 1.5rem;
      font-weight: 300;
    }
  
    &__description {
      font-family: $sans-serif;
      font-weight: 300;
    }
       
    &__element {
      display: none;

      &--visible {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }