.title-loop {
    height: 45rem;
    background-image: url(/img/fullsize-img.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-attachment: fixed;
    

    @keyframes __slider {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(-100%, 0);
      }
    }

    &__slider {
      position: absolute;
      display: flex;
      font-family: $sans-serif;
      font-size: 15rem;
      font-weight: 300;
      color: $blue-color;
      opacity: 0.8;
      animation: __slider 100s linear infinite;
      cursor: default;

      &__el {
        padding-right: 4rem;
      }
    }
}