.title-loop {
    height: 45rem;
    background-image: url(/img/fullsize-img.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-attachment: fixed;

    @media (max-width: $tablet-size) {
      width: 100vw;
    }
    
    &__placing {
      padding-top: 0;
      margin-bottom: 8rem;
    }
  }