// Logo and navigation

.heading {
  display: flex;
  height: 45rem;
  justify-content: space-between;
  background-image: url("../img/background-header.jpg");
  background-size: cover;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  align-items: center;
  flex-wrap: wrap;
  background-attachment: fixed;

  @media (max-width: $mid-size) {
    align-items: center;
  }

  @media (max-width: $tablet-size) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @media (max-width: $mobile-size) {
    height: 20rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  &__title {
    font-family: $sans-serif;
    font-size: 2rem;
    color: $black;
    font-weight: $normal;
    border-bottom: 2px solid $blue-color;
    border-spacing: 2px;
    
    &:hover {
      color: $blue-color;
      border-bottom: none;
      transition: all 0.3s ease-in-out;
    }

    @media (max-width: $mid-size) {
      font-size: 1.5rem;
    }

    @media (max-width: $tablet-size) {
      font-size: 1.2rem;
    }

    @media (max-width: $mobile-size) {
      font-size: 1rem;
    }
  }

  &__navigation-container {
    display: flex;
    z-index: 2;
  }

  &__trigger-el {
    position: fixed;
    opacity: 0.6;
    width: 40px;
    height: 40px;
  }

  &__icon {
    display: flex;
    background-color: $black;
    transition: background-color 0.3s ease-in-out;
    height: 2px;
    width: 100%;
    position: relative;

    &::before, &::after {
      content: "";
      width: 50%;
      height: 100%;
      position: absolute;
      top: -8px;
      background-color: $black;
      transition: all 0.3s ease-in-out;
      left: 0;
    }

    &::after {
      top: 8px;
      right: 0;
      left: auto;
    }
  }

  &__navigation {
    display: none;
    width: 40rem;
    justify-content: space-between;
    

    &--open {
      display: flex;
      position: fixed;
      left: 48%;
      top: 5rem;


      & + .heading__trigger-el .heading__icon {
        background-color: transparent;
        
        &::before, &::after {
          transform: rotate(45deg);
          width: 100%;
          top: 0;
          left: 0;
          right: auto;
          transform-origin: center;
          background-color: $blue-color;
        }
        
        &::after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__link {
    font-family: $sans-serif;
    font-size: 1.5rem;
    color: $black;
    font-weight: $normal;
    text-align: center;
    min-width: 8rem;
    margin-left: 3.5rem;

    &:hover {
      color: $blue-color;
      transition: all 0.3s ease-in-out;
    }

    @media (max-width: $mid-size) {
      font-size: 1.2rem;
      margin-left: 1.5rem;
    }

    @media (max-width: $tablet-size) {
      display: none;
    }
  }

  &__paragraph {
    font-size: 6rem;
    font-family: $serif;
    font-weight: $normal;
    padding-top: 12rem;
    line-height: 1.05;

    @media (max-width: $tablet-size) {
      font-size: 4rem;
      padding-top: 0;
    }

    @media (max-width: $mobile-size) {
      font-size: 2.5rem;
    }
  }
  &__active {
    @media (max-width: $tablet-size) {
      color: $blue-color;
    }
  }
  &__active:hover {
    color: $blue-color;
    transition: color 0.3s ease-in-out;
  }
}
