$grey-btn-color: #c4c4c4;
$active-grey-btn-color: #6a6a6a;
$background-section-color: #fbfbfb;
$nav-link-color: #494949;
$black: #121212;
$white: #fdfdfd;
$blue-color: #9ec8c8;

//media-query
$mobile-size: 415px;
$tablet-size: 768px;
$mid-size: 1315px;

// shadows
$window-shadow: 0 1px 1px rgba(0,0,0,0.07), 
                0 2px 2px rgba(0,0,0,0.07), 
                0 4px 4px rgba(0,0,0,0.07), 
                0 6px 8px rgba(0,0,0,0.07),
                0 8px 16px rgba(0,0,0,0.07);
