$grey-btn-color: #c4c4c4;
$active-grey-btn-color: #6a6a6a;
$background-section-color: #fbfbfb;
$nav-link-color: #494949;
$black: #121212;
$white: #fdfdfd;
$blue-color: #9ec8c8;

//media-query
$mobile-size: 415px;
$tablet-size: 768px;
$mid-size: 1315px;
