* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  text-decoration: none;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

a:hover,
a:active {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 72rem;
  padding: 0 45rem;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(/img/background-header.webp);
  background-size: cover;
  padding: 6rem 8rem 6rem 8rem;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-attachment: fixed;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.heading--title {
  font-family: "Montserrat";
  font-size: 2rem;
  color: #000;
}

.heading--navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.heading--link {
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  display: block;
  text-align: center;
  min-width: 8rem;
  margin-left: 3.5rem;
}

.heading--link:hover {
  color: #9EC8C8;
}

.heading--paragraph {
  font-size: 6rem;
  font-family: "Rozha One";
  font-weight: 500;
  padding-top: 7.5rem;
  line-height: 1.05;
  cursor: default;
}

.heading--active:hover {
  color: #9EC8C8;
}

.about-me {
  background-color: #FBFBFB;
  height: 38rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.about-me--hi-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat";
  font-size: 15rem;
  font-weight: 300;
  color: #9EC8C8;
  opacity: 0.7;
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: inherit;
  -webkit-animation: --hi-slider 8s linear infinite;
          animation: --hi-slider 8s linear infinite;
}

@-webkit-keyframes --hi-slider {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-120%, 0);
            transform: translate(-120%, 0);
  }
}

@keyframes --hi-slider {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-120%, 0);
            transform: translate(-120%, 0);
  }
}

.about-me--hi-slider div {
  padding-right: 2rem;
}

.about-me--text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35rem;
  padding-left: 10rem;
  font-weight: 300;
}

.about-me--heading {
  font-family: "Rozha One";
  font-size: 2rem;
  padding-bottom: 1rem;
}

.about-me--subheading {
  font-family: "Rozha One";
  font-size: 1.5rem;
}

.about-me--paragraph {
  padding-top: 2rem;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1rem;
}

.about-me--image {
  height: 38rem;
  width: 30rem;
  margin-right: 14rem;
  z-index: 2;
}

.about-me--photo {
  width: 34rem;
  height: 38rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.quote {
  height: 45rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 8rem;
  background-color: #FBFBFB;
}

.quote--text {
  font-family: "Rozha One";
  font-size: 2.5rem;
  padding-bottom: 4rem;
}

.quote--text:hover {
  color: #9EC8C8;
  font-style: italic;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  cursor: default;
}

.quote--author {
  font-family: "Montserrat";
  font-size: 2rem;
  text-align: right;
}

.title-loop {
  height: 45rem;
  background-image: url(/img/fullsize-img.webp);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-attachment: fixed;
}

.title-loop--slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat";
  font-size: 15rem;
  font-weight: 300;
  color: #9EC8C8;
  opacity: 0.7;
  -webkit-animation: --slider 10s linear infinite;
          animation: --slider 10s linear infinite;
}

@-webkit-keyframes --slider {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-120%, 0);
            transform: translate(-120%, 0);
  }
}

@keyframes --slider {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-120%, 0);
            transform: translate(-120%, 0);
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8rem 10rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery--btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 19rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 0;
}

.gallery--btn1,
.gallery--btn2,
.gallery--btn3 {
  height: 0.5rem;
  width: 4rem;
  outline: none;
  border-style: none;
  background-color: #c4c4c4;
}

.gallery--btn1:hover,
.gallery--btn1:active,
.gallery--btn1:focus,
.gallery--btn2:hover,
.gallery--btn2:active,
.gallery--btn2:focus,
.gallery--btn3:hover,
.gallery--btn3:active,
.gallery--btn3:focus {
  background-color: #6A6A6A;
  outline: none;
  border-style: none;
}

.gallery--element {
  list-style: none;
  padding: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery--photo {
  width: 50rem;
  height: 27rem;
  -o-object-fit: cover;
     object-fit: cover;
  padding-left: 7rem;
}

.gallery--text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 19rem;
}

.gallery--title {
  font-size: 2rem;
  font-family: "Rozha One";
  padding-bottom: 0.5rem;
}

.gallery--project-type {
  font-family: "Montserrat";
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  font-weight: 300;
}

.gallery--description {
  font-family: "Montserrat";
  font-weight: 300;
}

.gallery--element1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery--element2 {
  display: none;
}

.gallery--element3 {
  display: none;
}

.contact {
  height: 28.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.5rem 0;
  background-color: #FBFBFB;
}

.contact--heading {
  font-family: "Rozha One";
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.contact--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact--email {
  width: 32rem;
  height: 2rem;
  padding-left: 0.5rem;
  margin-bottom: 2rem;
  border-style: none;
  font-family: "Montserrat";
  outline: none;
}

.contact--msg {
  width: 32rem;
  padding: 0.5rem 0 10rem 0.5rem;
  border-style: none;
  font-family: "Montserrat";
  outline: none;
  resize: none;
}

.contact--btn {
  font-family: "Rozha One";
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 1rem;
  width: 10rem;
  height: 4rem;
  border-style: none;
  background: none;
  outline: none;
}

.contact--btn:hover,
.contact--btn:active {
  color: #9EC8C8;
}

.info {
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10rem;
}

.info--go-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20rem;
  height: 2rem;
}

.info--up-icon {
  font-size: 3rem;
  color: #6A6A6A;
  cursor: pointer;
}

.info--up-icon:hover {
  color: #9EC8C8;
}

.info--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-size: 1rem;
  font-family: "Montserrat";
  text-decoration: none;
  font-weight: 300;
  width: 20rem;
}

.info--email {
  color: #000;
  padding-right: 2.5rem;
}

.info--phone-number {
  font-size: 1rem;
  font-weight: 300;
  color: #000;
}

.info--social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20rem;
  list-style: none;
}

.info--social-media-icon {
  width: 2.5rem;
  height: 2.5rem;
  color: #6A6A6A;
  text-decoration: none;
}

.info--social-media-icon:hover {
  color: #9EC8C8;
}
@supports (-webkit-appearance:none){

}
